$white_color: #fff;
$btn_text_dark_color: #303133;
$light_blue_color: #6faaf7;
$blue_color: #3e8ef7;
$dark_blue_color: #3375cc;

//默认按钮
.el-button {
    padding: 8px 20px;
    border: 1px solid #c6d2d8;
    border-radius: 2px;
    color: $btn_text_dark_color;
    &:hover,
    &:focus {
        background-color: $light_blue_color;
        color: $white_color;
    }
    &:active {
        background-color: $blue_color;
    }
    &.is-plain {
        border-color: transparent;
    }
    &.is-plain:hover,
    &.is-plain:focus {
        color: #76838f;
        background-color: #ecf1f2;
        border-color: transparent;
    }
    &.el-button--medium {
        padding: 10px 20px;
    }
    &.el-button--small {
        padding: 6px 20px;
    }
    &.el-button--large {
        padding: 12px;
    }
    &.el-button--text {
        background-color: transparent;
        color: $blue_color;
    }
    &.el-button--text:focus,
    &.el-button--text:hover {
        color: $light_blue_color;
    }
    &.el-button--text {
        border: none;
    }
}

//主要按钮
.el-button--primary {
    background-color: $blue_color;
    color: $white_color;
    &:hover,
    &:focus {
        background-color: $light_blue_color;
    }
    &:active {
        background-color: $dark_blue_color;
    }
    &.is-plain {
        background-color: #d9e9ff;
        color: $blue_color;
        &:hover,
        &:focus {
            color: $white_color;
            background-color: $blue_color;
        }
        &:active {
            background-color: $dark_blue_color;
        }
    }
}


